.active-link a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}
.active-link{
    background: #ff2832;
}
.alert-login {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: red;
    font-weight: bold;
}
.alert-register {
    color: red;
    font-weight: bold;
}
