.active-link a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}
.active-link{
    background: #ff2832;
}
.alert-login {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: red;
    font-weight: bold;
}
.alert-register {
    color: red;
    font-weight: bold;
}
#checkout-bg {
    background: #fdfdfd;
    border: 1px solid #e6e6e6;
    padding: 25px 40px 21px 40px;
    width: 100%;
    display: inline-block;
    justify-content: center;
}
#checkout-info {
    padding-top: 50px;
}







